VITE_PUBLIC_ARGENT_WEBWALLET_URL=https://web.argent.xyz
VITE_PUBLIC_ARGENT_SESSION_SERVICE_BASE_URL=https://cloud.argent-api.com/v1
VITE_PUBLIC_API_URL=http://localhost:3000
VITE_PUBLIC_CHAIN_ID=SN_MAIN`
VITE_PROFILES_CONTRACT_ADDRESS=0x0297bc39daa7b0a7e65a4b2f2b81682770d603b51537907091721e35e96c6655